.doc-body>h1,
.doc-body>h2,
.doc-body>h3,
.doc-body>h4,
.doc-body>h5,
.doc-body>h6 {
    color: pink;
    margin-bottom: 0.8rem;
}

.doc-body>p {
    margin-bottom: 2rem;
}

.doc-body>figure>img {
    max-width: 100%;
    height: auto;
}

.doc-body>ul,
.doc-body>ol {
    margin-left: 35px;
}

.doc-body>figure>table td {
    border-bottom: 1px solid rgb(224, 224, 224);
    width: 100%;

}

.doc-body>figure>table {
    /* border-top: 1px solid rgb(224, 224, 224); */
    border-bottom: 1px solid #af4e82;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}


.doc-body>figure>table tbody tr:hover {
    background-color: rgb(0, 0, 0, 0.04);
}




.doc-body>figure>table>thead:hover {
    background-color: #fff;
}

.doc-body>figure>table>thead {
    font-weight: 400;
    border-bottom: 1px solid #af4e82;

    /* background-color: rgb(248, 248, 248); */
}


.doc-body>figure>table td:first-child {
    text-align: left;
    padding-left: 15px;
}