.doc-body {
    margin-bottom: 35px;
}

.doc-body>h1,
.doc-body>h2,
.doc-body>h3,
.doc-body>h4,
.doc-body>h5,
.doc-body>h6,
.ck>h1,
.ck>h2,
.ck>h3,
.ck>h4,
.ck>h5,
.ck>h6 {
    color: #672146;
    margin-bottom: 0.8rem;
    margin-top: 1.5rem;
}

.doc-description>p {
    margin-bottom: 0px;
}

.doc-body>h1,
.ck>h1 {
    font-size: 2.2rem;
}

.doc-body>p,
.ck>p {
    margin-bottom: 2rem;
}

.doc-body>p a,
.ck>p a {
    color: #97376a;
}

.doc-body>p a:hover,
.ck>p a:hover {
    text-decoration: underline;
    color: #ce4a90;
}

.doc-body>figure>img,
.ck>figure>img {
    max-width: 100%;
    height: auto;
    padding: 5px 0;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-top: 1px solid rgb(224, 224, 224);
}

.doc-body>ul,
.doc-body>ol,
.ck>ul,
.ck>ol {
    margin-left: 35px;
}

.doc-body>figure>table td {
    width: 100%;
}

.doc-body>figure>table tr {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.doc-body>figure>table td {
    border-left: 1px dashed rgb(224, 224, 224);
}

.doc-body>figure>table {
    border: 1px solid #af4e82;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin: 35px auto;
}

.doc-body>figure>table tbody tr:hover {
    background-color: rgb(0, 0, 0, 0.04);
}

.doc-body>figure>table>thead:hover {
    background-color: #fff;
}

.doc-body>figure>table>thead:first-child:hover {
    background-color: #fff1f8;
}

.doc-body>figure>table>thead {
    line-height: 3rem;
    background-color: #fff1f8;
}

.doc-body>figure>table td {
    padding: 5px 10px;
}

.doc-body>figure>table td:first-child {
    text-align: left;
    padding-left: 10px;
}

.doc-body>figure>table tr:last-child {
    border-bottom: 1px solid #af4e82 !important;
}

.ck-editor__editable table {
    table-layout: fixed !important;
}

.ck-editor__editable table col {
    min-width: 140px !important;
    width: auto !important;
}

/* Editor */
.ck.ck-editor__editable_inline {
    min-height: 300px !important;
}

code {
    background: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: Menlo, Consolas, monospace;
    font-size: 0.9em;
    margin: 0 2px;
}