.nav-bar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-bar-links {
        display: none;
    }
}

.nav-bar-account-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 768px) {
    .nav-bar-account-menu {
        display: none;
    }
}

.nav-bar-mobile-menu {
    display: none;
}

@media (max-width: 768px) {
    .nav-bar-mobile-menu {
        display: flex;
    }
}

.nav-bar-lobby-lock {
    display: none;
}

@media (max-width: 768px) {
    .nav-bar-lobby-lock {
        display: flex;
    }
}