.space-between-container {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  gap: 10px;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cta-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-inline-container {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(94, 94, 94);
  padding-top: 40px;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
  /* background-color: #f7f7f7; */
  font-size: 0.85rem;
  text-align: center;
}

.login-box {
  background-color: blue;
}

.login-screen {
  background-image: url('/images/bg.webp');
  /* Must be absolute otherwise causes conflict with React router upon logout. */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

/* Search results */
.docs-search-result {
  width: 100%;
}

.docs-search-result:hover {
  background-color: rgb(236, 241, 235);
}

/* Change password block */
.cta-notice {
  background-color: #ffe9e7;
  border-left: 2px solid #E03C31;
  padding: 5px 10px;
  margin-bottom: 1rem;
}

/* Dashboard */

.dashboard-document-tree-pane {
  width: 300px;
}

.dashboard-two-column {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.dashboard-left-column {
  width: 500px;
  min-width: 275px;
}

.dashboard-access-request-summary {
  /* padding: 0 25px; */
  display: flex;
  justify-content: center;
}

.dashboard-access-request-icons {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  max-width: 600px;
  margin: 20px auto;
}

.dashboard-access-request-icons-background {
  border-radius: 50%;
  background-color: rgba(233, 233, 233, 1);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-access-request-icons-background:hover {
  background-color: rgb(202, 202, 202);
}

/* Media Queries */
@media (max-width: 768px) {
  .dashboard-document-tree-pane {
    width: 100%;
  }

  .dashboard-two-column {
    display: block;
  }

  .dashboard-left-column {
    width: 100%;
  }
}