.space-between-container {
  display: flex;
  justify-content: space-between;
}

.filter-container {
  display: flex;
  gap: 10px;
}

.field-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.cta-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

}

.btn-inline-container {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(94, 94, 94);
  padding-top: 40px;
  /* margin-bottom: 20px; */
  padding-bottom: 20px;
  background-color: #f7f7f7;
  font-size: 0.85rem;
  text-align: center;
}

.login-box {
  background-color: blue;
}

.login-screen {
  background-image: url('/images/login-bg.webp');
  /* Must be absolute otherwise causes conflict with React router upon logout. */
  /* background-repeat: no-repeat; */
  background-size: cover;
}

/* Editor */
.ck.ck-editor__editable_inline {
  min-height: 300px !important;
}

/* Search results */
.docs-search-result {
  width: 100%;
}

.docs-search-result:hover {
  background-color: rgb(236, 241, 235);
}

/* Change password block */
.cta-notice {
  background-color: #ffe9e7;
  border-left: 2px solid #E03C31;
  padding: 5px 10px;
  margin-bottom: 1rem;
}